<style type="text/css">
    html, body {
        font-family: verdana;
        font-size: 12px;
    }
    div {
        border: 1px solid silver;
        background-color: whitesmoke;
        border-radius: 4px;
        margin: 10px;
    }
    h3,h4,p {
        margin: 0;
        padding: 5px;
    }
    h3 {
        border-bottom: 1px solid silver; 
    }
    h4 {

    }
</style>

<h1>{{name}}</h1>
<h2>{{location}}</h2>

{{#each sections}}
<div>
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    {{#each resources}}
        <div>
            <h3>{{method}} {{url}}</h3>
            <p>{{description}}</p>
            <h4>Request</h4>
            {{#each request.headers}}
                <p>{{this}}</p>
            {{/each}}
            <p>{{request.body}}</p>

            {{#each responses}}
                <h4>Response {{status}}</h4>
                {{#each headers}}
                    <p>{{this}}</p>
                {{/each}}
                <p>{{body}}</p>
            {{/each}}
        </div>
    {{/each}}
</div>
{{/each}}